input {
    border: 1px solid #F3F3F3;
    width: 100%;
    display: block;
    height: 40px;
    min-width: 200px;
}

textarea {
    resize: none;
    border: 1px solid #F3F3F3;
    min-height: 100px;
    width: 100%;
}