// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

input {
  border: none;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  & :after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.center {
  position: absolute;
  width: 90%;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;

  .first_container {
    background: #c5c5c566;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 200px;
    padding: 0 10px;
    img {
      height: 100%;
      display:block;
      margin:auto;
    }
  }
  .second_container {
    background: #ffffff91;
    height: 200px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 30px;
    grid-template-areas: "userLabel user"
    "passwordLabel password"
    "sign_in sign_in";
    align-items: center;
    label[for=username] {
      grid-area: userLabel;
    }
    input[name=username] {
      grid-area: user;
      background: transparent;
      border-bottom: 1px solid  #1b2735;
      height: 20px;
      padding: 0;
    }
    label[for=password] {
      grid-area: passwordLabel;
    }
    input[name=password] {
      grid-area: password;
      background: transparent;
      border-bottom: 1px solid #1b2735;
      height: 20px;
      padding: 0;
    }
    button {
      background: #1b2735;
      border-radius: 50px;
      grid-area: sign_in;
      width: 150px;
      height: 50px;
      color:white;
      margin: auto;
      border: none;
    }

  }

 
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
